* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #080f55
  }

body {
    background-color: #e3e4ed;
}

p {
  font-size: 18px;
  font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* optional: add spacing */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
}


h2 {
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
}

h3 {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    h1 {
      font-size: 60px;
    }
    
    h2 {
      font-weight: 900;
      font-size: 40px;
      text-transform: uppercase;
    }
}